<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/recruteur_accueil.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Recruiter</title>
</head>
<body>
    <% include navbar_recruiter %>
    <div class="bloc">
        <h1>Recruiter Access</h1>
        <div class="boutons">
          <button onclick="window.location.href='/recruiter/manage-offers'">Manage Offers</button>
          <button onclick="window.location.href='/recruiter/manage-applications'">Manage Applications</button>
        </div>
    </div>
</body>
</html>
